body{
    background-color: black;
}
p{
  color: blue
}

.para{
  background: blue;
}
.sent{
  color: white;
}
h3{
  color: aquamarine;
}
button{
  background-color: black;
}
.two{
  background-color: lightgreen;
}
h1{
  color: blanchedalmond;
}
